@model IEnumerable<FlightManager.Models.Reservation>

<div class="sidebar">

    <h2 class="nav-title"><span> @User.Identity?.Name</span></h2>

    <!-- <h2 class="menu-header">General</h2> -->
    <nav>
        <ul>
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Admin_Users" asp-controller="Roles" style="border-bottom:2px solid #f2f2f2;padding-bottom:3px;">Users</a></li>
            <li><a asp-action="Admin_Flights" asp-controller="Roles" >Flights</a></li>
            <li><a >Reservations</a></li>
            <li><a asp-action="Admin_MyProfile" asp-controller="Roles" >My Profile</a></li>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>

        </ul>
    </nav>
</div>
<section id="homeSection" class="section-a admin-container" style="width:85%;height:100vh;margin:auto;margin-left:15%;background:#191D28;">
    <div class="center-form">

        <div class="users-container" id="usersContainer">

            <h3>Reservations</h3>


            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Flight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Passengers)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FlightId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Passengers)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    const reservationsButton = document.getElementById("reservationsButton");
    const reservationsSection = document.getElementById("reservationsContainer");

    const flightsButton = document.getElementById("flightsButton");
    const flightsSection = document.getElementById("flightsContainer");

    const usersButton = document.getElementById("usersButton");
    const usersContainer = document.getElementById("usersContainer");

    usersButton.addEventListener("click", () => {
        usersContainer.style.display = "block";
        flightsSection.style.display = "none";
        reservationsSection.style.display = "none";
    });
    flightsButton.addEventListener("click", () => {
        flightsSection.style.display = "block";
        reservationsSection.style.display = "none";
        usersContainer.style.display = "none";
    });
    reservationsButton.addEventListener("click", () => {
        flightsSection.style.display = "none";
        usersContainer.style.display = "none";
        reservationsSection.style.display = "block";
    })
</script>

<script src="~/js/script.js"></script>
