@model FlightManager.Models.ApplicationUser

<nav class="employee-nav hidden">
    <h2 class="nav-title" style="color:#343434;">Welcome Back,<span> @User.Identity?.Name!</span></h2>
    <ul style="color:#343434 !important;">
        <li><a asp-action="Index" asp-controller="Home" style="color:#343434;">HOME</a></li>
        <li><a style="color:#343434;" id="flightsButton" asp-action="Employee" asp-controller="Roles">FLIGHTS</a></li>
        <li><a style="color:#343434;" id="reservationsButton" asp-controller="Roles" asp-action="Employee_Reservations"> RESERVATIONS</a></li>
        <li><a style="color:#343434;" asp-controller="Roles" asp-action="Empl_Users">USERS</a></li>
        <li><a style="color:#343434;" asp-controller="Roles" asp-action="Empl_MyProfile">MY PROFILE</a></li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
            </form>
        </li>
    </ul>
</nav>
<section class="section-b" style="display:block;width:90%;height:100vh;margin:auto;" id="flightsSection">
    <div class="center-form">

        <div class="users-container" id="usersContainer">

            <h3>Profile</h3>

            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UCN)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UCN)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Role)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Role)
                </dd>
            </dl>
        </div>
    </div>s
</section>
<script>
    const reservationsButton = document.getElementById("reservationsButton");
    const reservationsSection = document.getElementById("reservationsContainer");

    const flightsButton = document.getElementById("flightsButton");
    const flightsSection = document.getElementById("flightsContainer");

    flightsButton.addEventListener("click", () => {
        flightsSection.style.display = "block";
        reservationsSection.style.display = "none";
    });
    reservationsButton.addEventListener("click", () => {
        flightsSection.style.display = "none";
        reservationsSection.style.display = "block";
    })
</script>
<script src="~/js/script.js"></script>

