@model FlightManager.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Landing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Landing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassangerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassangerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BussinessClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BussinessClassCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



