@model IEnumerable<FlightManager.Models.Flight>

@{
    ViewData["Title"] = "Home Page";
}

<section class="landing">
    <nav class="hidden">
        <h2 class="nav-title">FlightManager<span>.</span></h2>
        <ul style="width:35% !important;">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
            <li><a asp-area="" asp-controller="Flight" asp-action="Index">ALL FLIGHTS</a></li>
            <li><a asp-area="" asp-controller="Reservation" asp-action="Create">BOOK A FLIGHT</a></li>

            <partial name="_LoginPartial" />
        </ul>
    </nav>
    <div class="filler-left hidden">
        <h2 class="landing-header">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, odit.</h2>
        <p class="landing-text"></p>
        <div class="button-container">
            <form>
               @* <button type="submit" class="landing-btn-second" asp-action="Index" asp-controller="Flight">VIEW FLIGHTS</button>
                <button type="submit" class="landing-btn" asp-action="Create" asp-controller="Reservation">BOOK NOW</button>*@
                <input value="VIEW FLIGHTS" type="submit" class="landing-btn-second" asp-action="Index" asp-controller="Flight" />
                <input value="BOOK NOW" type="submit" class="landing-btn" asp-action="Create" asp-controller="Reservation" />
            </form>

        </div>
    </div>
</section>

<section class="section-c" class="hidden">
    <div class="left-image">
    </div>
    <h2 class="b-header hidden" style="padding-top:30px;">BOOK A FLIGHT NOW</h2>
    <p class="b-text hidden" style="margin-bottom:60px;">You can book a flight right here</p>
    <form action="#" class="hidden">
        <div class="left-side-container">
            <label>First Name</label>
            <input type="text" placeholder="First Name"><br>
            <label>Middle Name</label>
            <input type="text" placeholder="Middle Name"><br>
            <label>Last Name</label>
            <input type="text" placeholder="Last Name"><br>
        </div>
        <div class="right-side-container">
            <label>EGN</label>
            <input type="text" placeholder="EGN"><br>
            <label>Phone Number</label>
            <input type="text" placeholder="Phone Number"><br>
            <label>Nationality</label>
            <input type="text" placeholder="Nationality"><br>
            <label>Ticket Type</label>
            <select name="" id="">
                <option value="Economic">Economic</option>
                <option value="Business">Business</option>
            </select> <br>
            <button type="submit" class="btn btn-primary">Book Now</button>
        </div>
    </form>
</section>
<section class="section-b hidden">
    <h2 class="b-header">ALL FLIGHTS</h2>
    <p class="b-text">Here you can see all of the flights</p>
    <div class="table-container">
        <table id="myTable" class="table table-table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LocationTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TakeOff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Landing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlaneType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlaneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PilotName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PassangerCapacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BussinessClassCapacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilledSeatsEconomy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilledSeatsBuisness)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocationTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TakeOff)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Landing)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaneType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PilotName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PassangerCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BussinessClassCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilledSeatsEconomy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilledSeatsBuisness)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<section class="section-d hidden">
    <h2 class="b-header">Contact Us</h2>
    <p class="b-text">Feel free to contact us anytime if you have any questions!</p>
    <div class="form-container">
        <form action="#">
            <label for="#">Name</label><br>
            <input type="text" placeholder="Your Name"><br>
            <label for="#">Email</label><br>
            <input type="text" placeholder="Your Email"><br>
            <label for="#">Subject</label><br>
            <input type="text" placeholder="Subject"><br>
            <label for="#">Message</label><br>
            <textarea type="text" placeholder="Message"></textarea><br>
            <button class="btn btn-primary" type="submit" style="margin-top:20px;">Send!</button>
        </form>
    </div>
</section>
<footer>
    <p>FlightManager &copy; 2023; All rights reserved</p>
</footer>